.navbar-wrap {
  height: 50px;
  background: #182357;
  font-size: 1.5em;
}
.navbar {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.nav-menu {
  margin: 0 10px 0 10px;
  padding: 5px;
}
ul {
  list-style-type: none;
}
.nav-menu a {
  color: aliceblue;
  text-decoration: none;
}
.nav-menu a:hover {
  padding: 1px 5px;
  background-color: #5c6cb3;
}
